<html>
   
   <head>
      <title>Angular JS Modules</title>
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "controller.js"></script>
      
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
		 
        .ClassA{
          background-color:yellow;
          color:red;
        }
        .ClassB{
          background-color:red;
          color:yellow;
        }

        .ClassC{
            background-color:green;
            color:blue;
        }

        .pending-delete {
          background-color: pink
        }
      </style>
      
   </head>
   
   <body ng-app="angularApp" ng-controller="appController" ng-style="{color: enteredColor}">
   
   <!-- Part 1 code -->
      <h2>AngularJS Sample Application</h2>
      <div>
         
		 
         <table border = "0">
            <tr>
               <td>Enter first name:</td>
               <td><input type = "text" ng-model="student.firstName"></td>
            </tr>
         
            <tr>
               <td>Enter last name: </td>
               <td><input type = "text" ng-model="student.lastName"></td>
            </tr>
         
            <tr>
               <td>Name: </td>
               <td>{{student.fullName()}}</td>
            </tr>
         
            <tr>
               <td>Subject:</td>
               <td>
               
                  <table>
                     <tr>
                        <th>Name</th>
                        <th>Marks</th>
                     </tr>
                  
                     <tr ng-repeat = "mark in student.marks | orderBy: '-score'">
                        <td>{{mark.name}}</td>
                        <td>{{mark.score}}</td>
                     </tr>
                  </table>
                  
               </td>
            </tr>
         </table>
         <!-- Part 1 code -->
		 
		 <!-- Part 2 code -->
		  <form name = "studentForm">
            <table border = "0">
               <tr>
                  <td>Enter first name:</td>
                  <td><input name = "firstname" type = "text" ng-model="studentFName" ng-pattern="/^[A-Za-z ]+$/" required/>
                     <span style = "color:red" ng-show="studentForm.firstname.$invalid">
                        <span ng-show="studentForm.firstname.$error.required">First Name is required.</span>
                     </span>
                     <span style = "color:red" ng-show="studentForm.firstname.$invalid">
                        <span ng-show="studentForm.firstname.$error.pattern">Only alphabets permitted for name.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>Enter last name: </td>
                  <td><input name = "lastname"  type = "text" ng-model = "studentLName" ng-pattern="/^[A-Za-z ]+$/" required/>
                     <span style = "color:red" ng-show="studentForm.lastname.$invalid">
                        <span ng-show="studentForm.lastname.$error.required">Last Name is required.</span>
                     </span>
                     <span style = "color:red" ng-show="studentForm.lastname.$invalid">
                        <span ng-show="studentForm.lastname.$error.pattern">Only alphabets permitted for name.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>Email: </td><td><input name = "email" type = "email" ng-model="studentEmail" required/>
                     <span style = "color:red" ng-show="studentForm.email.$invalid">
                        <span ng-show="studentForm.email.$error.required">Email is required.</span>
                        <span ng-show="studentForm.email.$error.email">Invalid email address.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>
                     <button ng-click = "reset()">Reset</button>
                  </td>
                  <td>
                     <button ng-disabled = "studentForm.firstname.$invalid ||
                        studentForm.lastname.$invalid  ||                        
                        studentForm.email.$invalid" ng-click="submit()">Submit</button>
                  </td>
               </tr>
			     
            <tr>
               <td>Enter subject: </td>
               <td><input type = "text" ng-model="subject"/></td>
            </tr>
					
            </table>
			<!-- Part 2 code -->
			
			<!-- Part 3 code -->
			  <table border = "0">
            <tr>
               <td>Name in Upper Case: </td>
               <td>{{student.fullName() | uppercase}}</td>
            </tr>
         
            <tr>
               <td>Name in Lower Case: </td>
               <td>{{student.fullName() | lowercase}}</td>
            </tr>
         
            <tr>
               <td>fees: </td>
               <td>{{student.fees | currency}}</td>
            </tr>
				
            <tr>
               <td>Subject:</td>

               <td>
                  <ul>
                     <li ng-repeat="mark in student.marks | filter: subject | orderBy:'score'">
                        {{ 'Subject:' + mark.name + ' , Score:' + mark.score }}               
                     </li>
                  </ul>
               </td>
            </tr>
         </table>
		 <!-- Part 3 code -->
		 
		 <!-- Part 4 code -->
		  <table border = "0">
            <tr>
               <td><input type = "checkbox" ng-model="disableBtn">Disable Button</td>
               <td><button ng-disabled="disableBtn">Click Me!</button></td>
            </tr>
            
            <tr>
               <td><input type = "checkbox" ng-model="showBtn">Show Button</td>
               <td><button ng-show="showBtn">Click Me!</button></td>
            </tr>
            
            <tr>
               <td><input type = "checkbox" ng-model="hideBtn">Hide Button</td>
               <td><button ng-hide="hideBtn">Click Me!</button></td>
            </tr>
            
            <tr>
               <td><p>Total clicks: {{count}}</p></td>
               <td><button ng-click="counter()">Click Me!</button></td>
            </tr>
         </table>
		 <!-- Part 4 code -->
         </form>
		 
		 <!-- Part 5 code -->
		  <div ng-class='whatClassIsIt(call.state[0])'>{{call.state[0]}}</div>
        <div ng-class='whatClassIsIt(call.state[1])'>{{call.state[1]}}</div>
        <div ng-class='whatClassIsIt(call.state[2])'>{{call.state[2]}}</div>
        <div ng-class='whatClassIsIt(call.state[3])'>{{call.state[3]}}</div>
        <div ng-class='whatClassIsIt(call.state[4])'>{{call.state[4]}}</div>
        <div ng-class='whatClassIsIt(call.state[5])'>{{call.state[5]}}</div>
        <div ng-class='whatClassIsIt(call.state[6])'>{{call.state[6]}}</div>
        <div ng-class='whatClassIsIt(call.state[7])'>{{call.state[7]}}</div>
		
		<!-- Part 5 code -->
 
		<!-- Part 6 code -->
      <input type="text" placeholder="enter a color name" ng-model="enteredColor"/>

       <div ng-repeat="item in items" ng-class="{'pending-delete': item.checked}">
          Name: {{item.name}}, Title: {{item.title}}
          <input type="checkbox" ng-model="item.checked"/>
          <span ng-show="item.checked">(will be deleted)</span>
       </div>

      <p>
         <div ng-hide="enteredColor == 'red'">I will hide if the color is set to 'red'.</div>	        
		</p>
	  <!-- Part 6 code -->
	  
   </body>
</html>